test-output
bin
.gradle
build/
.DS_Store
target/
*/target/**
META-INF
activemq-data/
*.log
*.log.*
*.ipr
*.iws
*.iml
*.launch
*.versionsBackup
out/
.project
.classpath
.settings
.metadata
.idea/
dependency-reduced-pom.xml
junit*.properties
projectFilesBackup
.externalToolBuilders
maven-eclipse.xml
bin-groovy
atlassian-ide-plugin.private.xml
atlassian-ide-plugin.xml
**/3_1/*
generated
markdown.mustache
LOG_HOME_IS_UNDEFINED